.base-value {
  width: 300px;
  height: 70px;
  margin-top: 30px;
  border: 1px solid #E9ECEF;
  border-radius: 4px;
}
.value-total {
  margin-left: 20px;
}
.value-total > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;

  font-size: 12px;
}
.value-total > div > span {
  font-size: 13px;
  font-weight: 500;
  color: #FD377E;
}
.value-total > span {
  font-size: 10px;
  color: #343A40;
}

@media only screen and (max-width: 820px){
  .base-value {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}